@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Flex-E-Rent App Support</h1>

<!-- App Buttons -->
<div class="btn-container">
    <button class="btn-tile" id="app1Button" onclick="showDropdown(1); highlight(this)">Order Progress</button>
    <button class="btn-tile" id="app2Button" onclick="showDropdown(2); highlight(this)">Credit Request</button>
</div>

<!-- Dropdown container -->

<div id="formSelectorContainer" class="formBox dropDownContainer" style="display: none; margin-top: 20px;">
    <select id="formSelector" class="form-control" onchange="showForm()">
        <option value="">--Select an Action--</option>
    </select>
</div>


<!-- Forms -->
<!-- Order Progress Forms -->
<div id="form1" class="form-section formContainer " style="display: none; margin-top: 20px;">
    <form>
        <div class="mb-3">
            <label for="inc1" class="form-label">INC Number:</label>
            <input type="text" class="form-control" id="inc1" name="inc">
        </div>
        <div class="mb-3">
            <label for="eId1" class="form-label">E ID:</label>
            <input type="text" class="form-control" id="eId1" name="eId">
        </div>
        <div class="mb-3">
            <label for="appGroup1" class="form-label">User Role:</label>
            <select class="form-control" id="appGroup1" name="appGroup">
                <option value="sec0">--Select User Role--</option>
                <option value="sec1">User</option>
                <option value="sec2">Manager/ Assistant Manager</option>
                <option value="sec3">VA</option>
            </select>
        </div>
        <div class="mb-3" id="branchField1" style="display: none;">
            <label for="branch1" class="form-label">Branch:</label>
            <select class="form-control" id="branch1" name="branch">
                <option value="loc0">--Select Branch Location--</option>
                <option value="loc1">Norwich</option>
                <option value="loc2">Bristol</option>
                <option value="loc3">Shrewsbury</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Update User Role Form -->
<div id="form2" class="form-section formContainer" style="display: none; margin-top: 20px;">
    <form>
        <div class="mb-3">
            <label for="inc2" class="form-label">INC Number:</label>
            <input type="text" class="form-control" id="inc2" name="inc">
        </div>        
        <div class="mb-3">
            <label for="eId2" class="form-label"> E ID:</label>
            <input type="text" class="form-control" id="eId2" name="EId">
        </div>
        <div class="mb-3">
            <label for="appGroup2" class="form-label">User Role:</label>
            <select class="form-control" id="appGroup2" name="appGroup">
                <option value="sec0">--Select User Role--</option>
                <option value="sec1">User</option>
                <option value="sec2">Manager/ Assistant Manager</option>
                <option value="sec3">VA</option>
            </select>
        </div>
        <div class="mb-3" id="branchField2" style="display: none;">
            <label for="branch2" class="form-label">Branch:</label>
            <select class="form-control" id="branch2" name="branch">
                <option value="loc0">--Select Branch Location--</option>
                <option value="loc1">Norwich</option>
                <option value="loc2">Bristol</option>
                <option value="loc3">Shrewsbury</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Update User Location Form -->
<div id="form3" class="form-section formContainer" style="display: none; margin-top: 20px;">
    <form>
        <div class="mb-3">
            <label for="inc3" class="form-label">INC Number:</label>
            <input type="text" class="form-control" id="inc3" name="inc">
        </div>        
        <div class="mb-3">
            <label for="eId3" class="form-label">E ID:</label>
            <input type="text" class="form-control" id="eId3" name="eId">
        </div>
        <div class="mb-3">
            <label for="branch3" class="form-label">Branch:</label>
            <select class="form-control" id="branch3" name="branch">
                <option value="loc0">--Select User Branch--</option>
                <option value="loc1">Norwich</option>
                <option value="loc2">Exeter</option>
                <option value="loc3">Heathrow</option>
           </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<!-- Credit Request Forms -->


<!-- Add Controller -->
<div id="form4" class="form-section formContainer" style="display: none; margin-top: 20px;">
      <form>
        <div class="mb-3">
            <label for="inc4" class="form-label">INC Number:</label>
            <input type="text" class="form-control" id="inc4" name="inc">
        </div>        
        <div class="mb-3">
            <label for="eId4" class="form-label"> E ID:</label>
            <input type="text" class="form-control" id="eId4" name="EId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<!-- Add Authoriser -->
<div id="form5" class="form-section formContainer" style="display: none; margin-top: 20px;">
      <form>
        <div class="mb-3">
            <label for="inc5" class="form-label">INC Number:</label>
            <input type="text" class="form-control" id="inc5" name="inc">
        </div>        
        <div class="mb-3">
            <label for="eId5" class="form-label"> E ID:</label>
            <input type="text" class="form-control" id="eId5" name="EId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Assign Team Leader to Branch -->
<div id="form6" class="form-section formContainer" style="display: none; margin-top: 20px;">
      <form>
        <div class="mb-3">
            <label for="inc6" class="form-label">INC Number:</label>
            <input type="text" class="form-control" id="inc6" name="inc">
        </div>  
        <div class="mb-3">
            <label for="branch6" class="form-label">Branch:</label>
            <select class="form-control" id="branch6" name="branch">
                <option value="loc0">--Select User Branch--</option>
                <option value="loc1">Norwich</option>
                <option value="loc2">Exeter</option>
                <option value="loc3">Heathrow</option>
           </select>
        </div>              
        <div class="mb-3">
            <label for="eId6" class="form-label"> E ID:</label>
            <input type="text" class="form-control" id="eId6" name="EId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script>
    function highlight(button) {
        // Reset button colour
        const buttons = document.querySelectorAll('.btn-tile');
        buttons.forEach(btn => btn.style.backgroundColor = '');
        buttons.forEach(btn => btn.style.color = '');

        // change colour on click
        button.style.backgroundColor = '#002858';
        button.style.color = 'white';
    }


function showDropdown(appId) {
    // Hide all forms 
    document.querySelectorAll('.form-section').forEach(form => {
        form.style.display = 'none'; 

        // Clear all inputs from form
        form.querySelectorAll('input, select, textarea').forEach(input => {
            if (input.tagName === 'SELECT') {
                // Reset select 
                if (input.id.includes('appGroup')) {
                    input.value = 'sec0'; 
                }
                if (input.id.includes('branch1')) {
                    input.value = 'loc0';   
                }
            } else if (input.tagName === 'INPUT' || input.tagName === 'TEXTAREA') {
                input.value = ''; 
            }
        });
    }); 



        // Show the form selector container
        document.getElementById('formSelectorContainer').style.display = 'block';

        // Populate dropdown with options based on appId
        const formSelector = document.getElementById('formSelector');
        formSelector.innerHTML = '<option value="">--Select an Action--</option>'; // Reset the dropdown

        if (appId === 1) {
            formSelector.innerHTML += '<option value="1">Add an Application User</option>';
            formSelector.innerHTML += '<option value="2">Update User Role</option>';
            formSelector.innerHTML += '<option value="3">Update User Branch</option>';

        } else if (appId === 2) {
            formSelector.innerHTML += '<option value="4">Add Controller</option>';
            formSelector.innerHTML += '<option value="5">Add Authoriser</option>';
            formSelector.innerHTML += '<option value="6">Assign Team Leader to Branch</option>';
        }
    }

    function showForm() {
        const selectedValue = document.getElementById('formSelector').value;
        console.log('Selected value:', selectedValue);
    
        // Hide all forms
        document.querySelectorAll('.form-section').forEach(form => {
            form.style.display = 'none';
        });

    // Show the selected form based on the dropdown value
    if (selectedValue === '1') document.getElementById('form1').style.display = 'block';
    if (selectedValue === '2') document.getElementById('form2').style.display = 'block';
    if (selectedValue === '3') document.getElementById('form3').style.display = 'block';
    if (selectedValue === '4') document.getElementById('form4').style.display = 'block';
    if (selectedValue === '5') document.getElementById('form5').style.display = 'block';
    if (selectedValue === '6') document.getElementById('form6').style.display = 'block';
 



        function addBranchToggle(appGroupId, branchFieldId, branchId) {
            document.getElementById(appGroupId).addEventListener('change', function () {
                var branchField = document.getElementById(branchFieldId);
                var branchDropdown = document.getElementById(branchId);
                if (this.value === 'sec1') {
                    branchField.style.display = 'block';
                    branchDropdown.value = 'loc0'
                } else {
                    branchField.style.display = 'none';
                    document.getElementById(branchId).value = 'loc0';
                }
            });
        }


        // Add toggle functionality for both forms
        addBranchToggle('appGroup1', 'branchField1', 'branch1');
        addBranchToggle('appGroup2', 'branchField2', 'branch2');
    }
</script>


